<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <title>SpaceWeb</title>
</head>
<body background="{{ url_for('static', filename='image/space.jpg') }}">
    <div class="container-1">
        <img src="{{ url_for('static', filename='image/logo.png') }}" class="imagen">
        <div class="container">
            <a href="/login" class="btn">Login in</a>
            <a href="/singup" class="btn">Sign in</a>
        </div>
    </div>
</body>
</html>
