<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <title>log in</title>
</head>
<body background="{{ url_for('static', filename='image/space.jpg') }}">
    <div class="cont-img ">
        <img src="{{ url_for('static', filename='image/logo.png') }}" class="image-all">
        <h1 class="title">Log in</h1>
    </div>
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="cajita-2">
                </script>
                <form id = "formlogin" action = "/login-2" method = "post">
                <div id="alerta"></div>
                <div class="form-group">
                    <label for="email2" class="letra">Email: </label>
                    <input type="text" id="email2" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password2" class="letra">Password: </label>
                    <input type="password" id="password2" name="password" class="form-control">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/" class="btn-2 ">Home</a>
                    <input type="submit" value="Send" class="btn-2">
                </div>
                </form>
                <script src="{{url_for('static',filename = 'script/script.js')}}"></script>
                <div id="google_translate_element"></div>
                <script type="text/javascript">
                function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                    }
                </script>
            </div>
        </div>
    </div>
    <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="{{url_for('static',filename = 'script/script.js')}}"></script>
    
</body>
</html>
